
<div class='container'>
<h1>Great job Homey! Now you're ready for the Thug Lyfe.</h1>
<h2><%= @sentence %></h2>

<div class='picture_div' >
  <img style="height: 200px; float:left; margin-right:3px;" src="http://i0.wp.com/prettydirtball.com/wp-content/uploads/2014/03/Snoop-Dogg-and-Pooh-Bear-x-Happy-Birthday.jpg" />
  <img style="height: 400px; float:left; margin-right:3px;" src="http://likethemermaid.com/wp-content/uploads/2010/10/snoop_dogg_vybemobile2.jpg" />
  <img style="height: 200px; float:left;" src="http://www.openingceremony.us/userfiles/image/news/oct10/102010-snoop/102010-snoop-48.jpg" />

</div>

</div>
