<h1>With so much drama in the LBC it's kinda hard being Snoop D-O-double G</h1>
<h2>D-O-double G-Y D-O-double G...you see?</h2>

<form action="/fo_shizzle">
  <div class="form-group">
    <label for="sentence">Enter a sentence to be Snoop Dogg-ified</label>
    <input id="sentence" name="sentence" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Holla atcha boi</button>
</form>
